@{
    ViewData["Title"] = "Play Group Activites";
}

<header class="jumbotron-fluid" style="background-color:darkmagenta;padding:40px;border-radius:20px;">
    <h1 class="display-4" style="color:white;">Upcoming Activities</h1>
</header>
<section class="row" style="background-color:white;padding:10px;margin-left:1%;margin-right:1%;">
    <div class="col-5">
        <p>11/22 - Gingerbread Houses</p>
        <p>12/10 - Santa's Workshop</p>
        <p>1/10 - Imagination Station</p>
        <p>1/22 - Science Museum</p>
        <p>2/10 - Valentine Building</p>
        <p>3/5 - The Great Outdoors</p>
    </div>
    <div class="col-7">
        <img src="~/Images/playgroup.jpg" class="img-fluid rounded-circle shadow" />
    </div>
</section>