@{
    ViewData["Title"] = "Play Group";
}

<header class="jumbotron-fluid" style="background-color:darkmagenta;padding:40px;border-radius:20px;">
    <h1 class="display-4" style="color:white;">Great Lakes Regional Playgroup</h1>
</header>
    <section class="row" style="background-color:white;padding:10px;margin-left:1%;margin-right:1%;">
        <div class="col-5">
            <p class="display-4 align-items-center">Join us for weekly adventures and lots of fun!</p>
        </div>
        <div class="col-7">
            <img src="~/Images/playgroup.jpg" class="img-fluid rounded-circle shadow" />
        </div>
    </section>
