@model Authentication.Models.ParentChild

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Parent/Child</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="MembersID" class="control-label">Member</label>
                <select asp-for="MembersID" class="form-control" asp-items="ViewBag.MembersID"></select>
                <span asp-validation-for="MembersID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChildID" class="control-label">Child</label>
                <select asp-for="ChildID" class="form-control" asp-items="ViewBag.ChildID"></select>
                <span asp-validation-for="ChildID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
